<h1>Bienvenue sur the SCOLOLO</h1>
<p> ce site est un gestionnaire de notes </p>

<% if @current_user %>
<p>
<strong> Bienvenue <%= @current_user.firstName %> <%= @current_user.familyName %> </strong>
</p>
	<%= form_tag "/users", method: "delete" do %>
  		<input type="submit" value="déconnection" />
	<% end %>
<%else%> 
	<p>
	<a href="/users/login"> S'identifier </a>
	</p>
	<p>
	<a href="/users/signin"> Créer un compte </a>
	</p>
<%end%>






